<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link rel="stylesheet" href="../static/download.css">
    <title>File Transfer - Download</title>
</head>
<body>
    <div id="file-transfer">
        <form action="/download/{{ .UniqueID }}">
            <img src="../static/logo.png" alt="logo" height="100px" width="100px">
            <h1> {{ .Name }} is ready to download!</h1>
            
            <ul>
                <li>Dateiname: {{ .Name }}</li>
                <li>Typ: {{ .Type }}</li>
                <li>Erstellt am: {{ .UploadTime }}</li>
            </ul>
            <input type="submit" value="Datei herunterladen" name="submit">
        </form>
    </div>
</body>
</html>