<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/upload.css">
    <title>File Transfer - Upload</title>
</head>
<body>
    <div id="file-transfer">
        <form>
            <img src="../static/logo.png" alt="logo" height="100px" width="100px">
            <h1> {{ .FileName }} erfolgreich hochgeladen!</h1>
    
            <p>Link: <a href="/storage/{{ .UniqueID }}">127.0.0.1:8080/storage/{{ .UniqueID }}</a></p>
        </form>
    </div>
</body>
</html>